<nav class="navbar navbar-default">
  <div class="container-fluid">
	<div class="navbar-header" style="font-family: 'Cinzel Decorative';">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
	  <a class="navbar-brand" href="home.php"><strong>FYP</strong></a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	
	<ul class="nav navbar-nav">
	  <li><a href="home.php">Home</a></li>
	  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><a href="products.php">Products</a></li>
			<li><a href="customers.php">Customers</a></li>
			<li><a href="staffs.php">Staffs</a></li>
			<li><a href="orders.php">Orders</a></li>
		</ul>
	  </li>
	  <!-- <li><a href="catalog.php">Catalog</a></li> -->
	  <li><a href="search.php">Search</a></li>
	</ul>


	<ul class="nav navbar-nav navbar-right">
		<li>
					<a href="logout.php">
						<span class="glyphicon glyphicon-log-in"></span> Login
					</a>
		</li>
	</ul>

	</div>
  </div>
</nav>