{% extends 'base.html' %}

<script>
	{% block jquery %}
	var endpoint = "/api/data/"
	var customersDjango = parseInt("{{ customers }}") * 237
	console.log(customersDjango)
	$.ajax({
		method:"GET",
		url:endpoint,
		success:function(data){
			console.log(data)
			console.log(data.customers * 234)
		},
		error: function(error_data){
			console.log("error")
			console.log(error_data)
		}
	})
	{% endblock %}	
</script>

{% block content %}

<div class="row">
	<div class="col-sm-12">
		<h1>Hello World</h1>
	</div>
</div>

{% endblock content %}